﻿﻿@using Application.Products;


@model ProductListingPageModel
<p id="txt-categoryId" hidden>@Model.CategoryId</p>
<p id="txt-keyword" hidden>@Model.KeyWord</p>
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Grid 3 Columns<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                @await Html.PartialAsync("~/Views/Shared/_SideBar.cshtml", Model.Categories)
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>

                                <select class="input-select" id="product-order-by">
                                    @foreach (var item in Model.OrderBys)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label>
                                    Show:
                                    <select class="input-select" id="product-page-size">
                                        @foreach (var item in Model.SelectPageSize)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                </label>

                            </div><!-- End .toolbox-sort -->
                            <div class="toolbox-layout">
                                <a href="category-list.html" class="btn-layout">
                                    <svg width="16" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="10" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="10" height="4" />
                                    </svg>
                                </a>

                                <a href="category-2cols.html" class="btn-layout">
                                    <svg width="10" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                    </svg>
                                </a>

                                <a href="category.html" class="btn-layout active">
                                    <svg width="16" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="12" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                        <rect x="12" y="6" width="4" height="4" />
                                    </svg>
                                </a>

                                <a href="category-4cols.html" class="btn-layout">
                                    <svg width="22" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="12" y="0" width="4" height="4" />
                                        <rect x="18" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                        <rect x="12" y="6" width="4" height="4" />
                                        <rect x="18" y="6" width="4" height="4" />
                                    </svg>
                                </a>
                            </div><!-- End .toolbox-layout -->
                        </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->
                    <!-- store top filter -->
                    @*   <div class="store-filter clearfix">
                    <div class="store-sort">
                    <label>
                    Sort By:
                    <select class="input-select" id="product-order-by">
                    @foreach (var item in Model.OrderBys)
                    {
                    <option value="@item.Key">@item.Value</option>
                    }

                    </select>
                    </label>

                    <label>
                    Show:
                    <select class="input-select" id="product-page-size">
                    @foreach (var item in Model.SelectPageSize)
                    {
                    <option value="@item">@item</option>
                    }


                    </select>
                    </label>
                    </div>
                    <ul class="store-grid">
                    <li class="active"><i class="fa fa-th"></i></li>
                    <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                    </div> *@
                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row justify-content-center">
                        <div class="row" id="table-content">
                        </div>
                    </div>


                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class=" pagination justify-content-center">
                        <div id="pagination"></div>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
        </div><!-- End .page-content -->
</main><!-- End .main -->
@section Scripts {
    <script src="~/js/twb-pgination.js"></script>
    <script src="~/js/product-list.js"></script>
}
