﻿﻿@using Application;
@using Application.Products;

@model GenericData<ProductViewModel>

@foreach (var item in Model.Data)
{
    <div data-count="@Model.Count" class="col-md-4 col-xs-6 total-count">

        <div class="product product-7 text-center">
            <figure class="product-media">
                <div class="product-label label-new">
                    <span>New</span>
                </div>
                <div class="product-label label-new">
                    @if (item.DiscountPrice.HasValue)
                    {
                        var discount = ((item.Price - item.DiscountPrice) / item.Price) * 100;
                        <span class="sale">-@discount%</span>
                    }
                </div>




                <a href="product.html">
                    <img src=@item.ImageUrl alt="Product image" class="product-image">
                </a>

                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                </div><!-- End .product-action-vertical -->
                <div class="product-action">
                    <div class="btn-product btn-cart">

                        <butto data-id="@item.ProductId" class="add-to-cart-btn"><span>add to cart</span></butto>
                    </div>
                </div>
                <!-- End .product-action -->
               @*  <div class="add-to-cart">
                    <button data-id="@item.ProductId" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                </div> *@
                <!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body">
                <div class="product-cat">
                    <a href="#">@item.CategoryName</a>
                </div><!-- End .product-cat -->
                <h3 class="product-title"><a href="product.html">@item.ProductName</a></h3><!-- End .product-title -->
                <div class="product-price">
                    @if (item.DiscountPrice.HasValue)
                    {
                        <h3 class="product-price">@item.DiscountPrice <del class="product-old-price">@item.Price</del></h3>
                    }
                    else
                    {
                        <h4 class="product-price">@item.Price</h4>
                    }
                </div>

                @if (item.Rating.HasValue)
                {
                    <div class="product-rating">
                        @for (int i = 0; i < +item.Rating.Value; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    </div>
                }

            </div><!-- End .product-body -->
        </div><!-- End .product -->
    </div>

    <!-- End .col-sm-6 col-lg-4 -->
    <!-- End .row -->
}
