﻿<!DOCTYPE html>
<html lang="en">

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Management</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/AdminAssets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/AdminAssets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->

    <link href="~/AdminAssets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/global/css/plugins-md.css" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="~/AdminAssets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
    <link href="./css/ajaxloader.css" rel="stylesheet" />
    <link href="./css/jquery-ui.css" rel="stylesheet" />
    <link href="./css/for-admin.css" rel="stylesheet" />





    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body class="page-md">
    <div id="loading" style="display:none">
        <img src="~/AdminAssets/admin/pages/img/loader2.gif" />

    </div>
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html"></a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- END NOTIFICATION DROPDOWN -->

                        <li class="droddown dropdown-separator">
                            <span class="separator"></span>
                        </li>

                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="/account/logout" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="">
                                <span class="username username-hide-mobile">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a>
                                        <i class="icon-user"></i> Thông tin cá nhân
                                    </a>
                                </li>

                                <li class="divider">
                                </li>
                                <li>
                                    <a asp-action="ChangePassword" asp-controller="Account">
                                        <i class="icon-lock"></i> Đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Logout" asp-controller="Account">
                                        <i class="icon-key"></i> Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <div class="page-header-menu">
            <div class="container">

                <div class="hor-menu ">

                    <ul class="nav navbar-nav">
                        <li>
                            <a>   <i class="icon-home"></i><span>HOME</span> </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="menu-dropdown mega-menu-dropdown ">
                                <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                                    Administration <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" style="min-width: 250px">
                                    <li>
                                        <div class="mega-menu-content">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <ul class="mega-menu-submenu">

                                                        <li>
                                                            <a href="/account/roles" class="iconify">
                                                                <i class="icon-pin"></i>
                                                                Roles
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/account/users" class="iconify">
                                                                <i class="icon-pin"></i>
                                                                Users
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        }


                        <li class="menu-dropdown mega-menu-dropdown ">
                            <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                                E-Commerce <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu" style="min-width: 250px">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="row">
                                            <!--one menu-->

                                            <div class="col-md-12">
                                                <ul class="mega-menu-submenu">

                                                    <li>
                                                        <a href="/" class="iconify">
                                                            <i class="icon-pin"></i>
                                                            Categories
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/product/index" class="iconify">
                                                            <i class="icon-pin"></i>
                                                            Products
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--Quan ly bai viet-->


                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
    </div>

    @RenderBody()

    <!-- END PAGE CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="container">
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    <script src="~/AdminAssets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/AdminAssets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/AdminAssets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/AdminAssets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/AdminAssets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/AdminAssets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/AdminAssets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/AdminAssets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
    <script src="~/AdminAssets/admin/layout3/scripts/demo.js" type="text/javascript"></script>
    <!-- BEGIddsdsdsN PAGE LEVEL SCRIPTS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- BEGIddsdsdsN PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features

        });
    </script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/notify/notify.min.js"></script>
    <script src="~/js/twb-pgination.js"></script>
    @RenderSection("script", false)

</body>
<!-- END BODY -->
</html>

