﻿@using Application.Products;
@model List<CartItemViewModel>
@{

}

<a class="dropdown-toggle" role="button" data-toggle="dropdown cart-dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
    <i class="icon-shopping-cart"></i>

    @if (Model != null && Model.Any())
    {
        <span class="cart-count">@Model.Sum(s => s.Quantity)</span>

    }
</a>
@if (Model != null && Model.Any())
{
    <div class="dropdown-menu dropdown-menu-right">
        @foreach (var item in Model)
        {
            <div class="dropdown-cart-products">

                <div class="product">
                    <div class="product-cart-details">
                        <h4 class="product-title">
                            <a href="product.html">@item.ProductName</a>
                        </h4>

                        <span class="cart-product-info">
                            <span class="cart-product-qty">@item.Quantity</span>
                            x @item.Price
                        </span>
                    </div>

                    <figure class="product-image-container">
                        <a href="product.html" class="product-image">
                            <img src="@item.Image" alt="product">
                        </a>
                    </figure>
                    @* <a data-name="@item.ProductName" data-id="@item.ProductId" class="remove-item" title="Remove Product"><i class="icon-close"></i></a> *@
                    <button data-name="@item.ProductName" data-id="@item.ProductId" class="delete remove-item"><i class="icon-close"></i></button>
                </div>

            </div>
        }

        <div class="dropdown-cart-total">
            <span>Total @Model.Count item : </span>
            <span class="cart-total-price">@Model.Sum(s => s.Quantity * s.Price)</span>
        </div>
        <div class="dropdown-cart-action">
            <a href="cart.html" class="btn btn-primary">View Cart</a>
            <a href="checkout/index" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
        </div>

    </div>
}


