﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="table-content"></div>
<div id="pagination"></div>
@section Scripts{
   
   <script src="~/js/twb-pgination.js"></script>
   <script src="~/js/student.js"></script>
}
