﻿@using Application.Accounts;
@{
    Layout = null;
}
@model LoginViewModel
<!DOCTYPE html>

<html lang="en">

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/AdminAssets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/AdminAssets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/AdminAssets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/admin/pages/css/ajaxloader.css" rel="stylesheet" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-md login">
    <div id="loading" style="display:none">

        <img src="~/AdminAssets/admin/pages/img/loader2.gif" />
    </div>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">

        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->

        <form action="/account/login" method="post" class="login-form" id="frm-login">
            @Html.AntiForgeryToken()
            <h3 class="form-title">Đăng nhập</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label asp-for="Email" class="control-label visible-ie8 visible-ie9"></label>
                <input asp-for="Email" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label visible-ie8 visible-ie9"></label>
                <input asp-for="Password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-actions" id="frm-login2">
                <button class="btn btn-success uppercase" id="login" type="submit">Đăng nhập</button>
                <label asp-for="RememberMe" class="rememberme check">
                    <input asp-for="RememberMe" type="checkbox" />Ghi nhớ
                </label>


            </div>

        </form>
        <div class="create-account">
            <p>
                <a asp-action="ForgotPassword" asp-controller="Account" id="register-btn" class="uppercase"></a>
            </p>
        </div>




        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright">
    </div>
    <!-- END LOGIN -->
    <![endif]-->
    <script src="~/AdminAssets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/AdminAssets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/AdminAssets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/AdminAssets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/AdminAssets/admin/layout/scripts/demo.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout

            Demo.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>