﻿@using Application;
@using Application.Checkouts;
@using Newtonsoft.Json;

@{
    var checkout = TempData["checkout"] != null ? (string)TempData["checkout"] : string.Empty;
    var data = JsonConvert.DeserializeObject<ResponseResult>(checkout);
    var message = data != null ? data.Message : string.Empty;
    var status = data != null ? data.StatusCode : default;
}
@model CheckoutViewModel
<!-- BREADCRUMB -->
<p hidden id="check-out-message">@message</p>
<p hidden id="check-out-status">@status</p>
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-9">
                            <form id="frm-customer-info" class="billing-details" method="post" action="/checkout/placeorder">
                                @Html.AntiForgeryToken()
                                <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Address *</label>
                                <input type="text" class="form-control" required>



                                <label>Phone *</label>
                                <input type="tel" class="form-control" required>


                                <label>Email address *</label>
                                <input type="email" class="form-control" required>

                            </form>
                                @*   <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                                </div><!-- End .custom-checkbox -->

                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
                                </div><!-- End .custom-checkbox --> *@
                                <div class="form-group">
                                    <input hidden id="txt-payment-method" class="input" type="number" name="PaymentMethod" value="0">
                                </div>

                                
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.Items)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@item.Quantity x @item.ProductName</td>
                                                <td>@item.Price</td>
                                            </tr>


                                        </tbody>
                                    }
                                    <tr>
                                        <td>Shipping:</td>
                                        <td><strong>Free shipping</strong></td>
                                    </tr>

                                    <tr class="summary-subtotal">
                                        <td>Total:</td>
                                        <td>@Model.Items.Sum(s => s.Quantity * s.Price)</td>
                                    </tr><!-- End .summary-subtotal -->

                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">

                                    <div class="payment-method">
                                        @foreach (var item in Model.ShippingMethod)
                                        {
                                            <div class="input-radio">
                                                <input value="@item.Key" type="radio" name="payment" id="payment-@item.Key">
                                                <label for="payment-@item.Key">
                                                    <span></span>
                                                    @item.Value
                                                </label>

                                            </div>
                                        }
                                    </div>
                                </div><!-- End .accordion -->

                                <button id="btn-place-order" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
@section Scripts {

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
}





